@charset "UTF-8";

/* --- fwt_templates.css --- */

#fwtTemplatesList {
	font: 16px Arial;
	width: 100%;
}

#fwtTemplatesList ul {
	display:block;
	list-style:none;
	margin:0;
	min-height:0;
	overflow: hidden;
}




#fwtTemplatesList ul li {
	float:left;
	margin: 10px;
}
#fwtTemplatesList ul li img {
	-moz-box-shadow:0 0 5px #888;
	-webkit-box-shadow:0 0 5px;
	border:1px solid #fff;
	-webkit-box-shadow: 0 0 5px #888; -moz-box-shadow: 0 0 5px #888; -khtml-box-shadow: 0 0 5px #888; box-shadow:0 0 5px #888;
}
#fwtTemplatesList ul li a {
	color:#000;
	display:block;
	font-family:Arial;
	font-size:.9em;
	padding:3px 0;
	position:relative;
	text-align:center;
	text-decoration:none;
	width:220px;
}










#fwtTemplatesList ul div {
	left: 0;
	text-align: center;
	width: 220px
}
#fwtTemplatesList ul li:hover div {
	left: 0;
}
#fwtTemplatesList ul ul {
	/*background: url('styles/custom/fwt/bg-details.gif') repeat;*/
	background-color: #333;
	height: 33px;
	padding: 0 !important;
	top: -80px;
	width: 220px;
	list-style: none;
	margin: 0;
	/* display: flex; */ /* prevent gap between li items */
	font-size: 0; /* prevent gap between li items */
	border: 1px solid #888;
	-webkit-box-shadow: 0 0 5px #888; -moz-box-shadow: 0 0 5px #888; -khtml-box-shadow: 0 0 5px #888; box-shadow:0 0 5px #888;
}
#fwtTemplatesList ul ul li {
	float: none;
	margin: 0 auto;
	font-size: 16px; /* prevent gap between li items (ul has font size 0) */
	display: inline-block;
}
#fwtTemplatesList ul ul li a {
	color:#fff!important;
	display:block;
	font-size:.8em;
	padding:18px 0 0 0;
	text-align:center;
	text-decoration:none!important;
	width:69px;
}
#fwtTemplatesList ul li a span {
	display: block;
	font-family: Arial;
	padding: 5px 0 10px;
	width: 100%;
}
#fwtTemplatesList ul ul li a.download {
	background:url('styles/custom/fwt/icons.gif') no-repeat 24px -37px;
	display: block;
}
#fwtTemplatesList ul ul li a.view {
	background:url('styles/custom/fwt/icons.gif') no-repeat 24px -99px;
}
#fwtTemplatesList ul ul li a.discuss {
	background:url('styles/custom/fwt/icons.gif') no-repeat 24px -161px;
}
#fwtTemplatesList ul ul li a.use {
	background:url('styles/custom/fwt/use-icon.gif') no-repeat 24px 0px;
}
#fwtTemplatesList ul ul li a.adv {
	background: url('styles/custom/fwt/icons.gif') no-repeat 0px -680px;
	text-align: left;
	height: 33px;
	padding: 8px 0 0 25px;
	display: inline;
	line-height: 33px;
}
#fwtTemplatesList ul ul li.adv a {
	margin: 8px 0 0;
    padding: 0;
    text-align: center;
    width: 207px;
}
#fwtTemplatesList ul ul li a{
	padding: 16px 0 0;
	font-family:Arial;
}
#fwtTemplatesList ul ul li a.download:hover {
	background:url('styles/custom/fwt/icons.gif') no-repeat 24px -68px;
}
#fwtTemplatesList ul ul li  a.download:hover {
	color:#bbdbe7!important;
}
#fwtTemplatesList ul ul li a.view:hover {
	background:url('styles/custom/fwt/icons.gif') no-repeat 24px -130px;
}
#fwtTemplatesList ul ul li a.view:hover{
	color:#bbdbe7!important;
}
#fwtTemplatesList ul ul li a.discuss:hover {
	background:url('styles/custom/fwt/icons.gif') no-repeat 24px -192px;
}
#fwtTemplatesList ul ul li a.discuss:hover{
	color:#bbdbe7!important;
}
#fwtTemplatesList ul ul li a.use:hover {
	background:url('styles/custom/fwt/use-icon.gif') no-repeat 24px -31px;
	color:#bbdbe7!important;
}
#fwtTemplatesList ul ul li a.adv:hover {
	background:url('styles/custom/fwt/icons.gif') no-repeat 0px -706px;
}
#fwtTemplatesList ul ul li a.adv:hover{
	color:#bbdbe7!important;	
}










ul#fwtTopLinksX {
	overflow: hidden;
	display: block;
	list-style: none;
	padding: 5px 0;
}
ul#fwtTopLinksX li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	display: list-item;
	width: 25%;
	text-align: center;
}
ul#fwtTopLinksX li a {
	display: inline;
	font-family: Arial;
	font-size: 14px;
	color: black;
	text-align: center;
	text-decoration: underline;
	
}
ul#fwtTopLinksX li a:hover {
	color:#034c8a;
}



/* --- login_bar.css --- */

/** Login bar basics **/

#loginBar
{
	color: rgb(5, 47, 77);
background-color: #bbdbe7;
border-bottom: 1px solid #65a5d1;
position: relative;
z-index: 1;

}

	#loginBar .ctrlWrapper
	{
		margin: 0 10px;
	}

	#loginBar .pageContent
	{
		padding-top: 5px;
		position: relative;
		_height: 0px;
	}

	#loginBar a
	{
		color: rgb(5, 47, 77);
text-decoration: underline;

	}

	#loginBar form
	{
		padding: 5px 0;
margin: 0 auto;
display: none;
line-height: 20px;
position: relative;

	}
	
		#loginBar .xenForm .ctrlUnit,		
		#loginBar .xenForm .ctrlUnit > dt label
		{
			margin: 0;
			border: none;
		}
	
		#loginBar .xenForm .ctrlUnit > dd
		{
			position: relative;
		}
	
	#loginBar .lostPassword,
	#loginBar .lostPasswordLogin
	{
		font-size: 11px;
	}
	
	#loginBar .rememberPassword
	{
		font-size: 11px;
	}

	#loginBar .textCtrl
	{
		color: rgb(5, 47, 77);
background-color: white;
border-color: rgb(5, 47, 77);

	}
	
	#loginBar .textCtrl[type=text]
	{
		font-weight: bold;
font-size: 18px;

	}

	#loginBar .textCtrl:-webkit-autofill /* http://code.google.com/p/chromium/issues/detail?id=1334#c35 */
	{
		background: white !important;
		color: rgb(5, 47, 77);
	}

	#loginBar .textCtrl:focus
	{
		background-image: none;

	}
	
	#loginBar input.textCtrl.disabled
	{
		color: white;
background-color: rgb(5, 47, 77);
border-style: dashed;
border-color: white;

	}
	
	#loginBar .button
	{
		min-width: 85px;
		*width: 85px;
	}
	
		#loginBar .button.primary
		{
			font-weight: bold;
		}
		
/** changes when eAuth is present **/

#loginBar form.eAuth
{
	-x-max-width: 700px; /* normal width + 170px */
}

	#loginBar form.eAuth .ctrlWrapper
	{
		border-right: 1px dotted #176093;
		margin-right: 200px;
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
	}

	#loginBar form.eAuth #eAuthUnit
	{
		position: absolute;
		top: 0px;
		right: 10px;
	}

		#eAuthUnit li
		{
			margin-top: 10px;
			line-height: 0;
		}
	
/** handle **/

#loginBar #loginBarHandle
{
	font-size: 11px;
color: rgb(5, 47, 77);
background-color: #bbdbe7;
padding: 0 10px;
margin-right: 20px;
-webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; -khtml-border-bottom-right-radius: 10px; border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomleft: 10px; -khtml-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px;
position: absolute;
right: 0px;
bottom: -20px;
text-align: center;
z-index: 1;
line-height: 20px;
-webkit-box-shadow: 0px 2px 5px #094E7F; -moz-box-shadow: 0px 2px 5px #094E7F; -khtml-box-shadow: 0px 2px 5px #094E7F; box-shadow: 0px 2px 5px #094E7F;

}

